{% extends 'header.html'%}

{% block content %}
{% load crispy_forms_tags %}
<div class="row">
    <!-- left side bar -->
    <!-- load the side bar here -->
     {% include 'dashboard/sidebar.html'%}
     <!-- right side content -->
      <div class="col-md-9">
        <h2>Add Blogs</h2>
        <form action="{% url 'addpost' %}" method="POST" style="width: 500px;" enctype="multipart/form-data">

            {% csrf_token%}
            {{form | crispy}}

            <button type="submit" class="btn btn-warning">Submit</button>
    
        </form>
      </div>
</div>

{% endblock%}